body {
	height: 100vh;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	
}

.conf {
	margin-bottom: 15px;
}

.sub {
	width: 165px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	background-color: #ADC2B5;
	border-width: 1px;
	border-radius: 10px;
	margin-bottom: 15px;
}

.avt{
	align-content: center;
	margin-left: 45%;	
}

body{
	/*background: #f0f5f2;*/
}
h3{
	color:#829D93;
}
.logo{
    width: 310px;
    height: auto;
    margin: 30px;
    margin-right: 50px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
	background: #ADC2B5;
	flex-basis: auto;
	
}

.search{
    height: 40px;
    width: 460px;
    color: #ADC2B5;
    font-size: large;
    padding-left: 5px;
    vertical-align: top;
    display: inline-block;
}

.searchSub {
    height: 45px;
    width: 45px;
    margin-right: 50px;
}

.login{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

.log{
    font-size: large;
    margin-right: 30px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgblock{
    position: relative;
    text-align: center;
}

.imgblock img{
    height: 45px;
    width: 45px;
}
.imgblock span{
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: #000000;
}


.menu{
    text-align: center;
	background: #ADC2B5;
	height: 50px;
}

.menu a{
    text-decoration: none; 
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
}

.error{
	color: red;
	text-align: center;
}

.reg{
	text-align: center;
	align-content: center;
}

footer{
    position: relative;/*относительное позиционирование*/
    width: 100%;/*на всю ширину*/
    background: #ADC2B5;/*цвет футера*/
    display: flex;
    justify-content: center;/*в центре по горизонтали*/
    align-items: center;/*в центре по вертикали*/
    flex-direction: column;
    margin-top: 100px;/*отступ сверху*/
}
.social,
.foo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;/*разрешен перенос на новую строку*/
}
.social li,
.foo li{
    list-style: none;/*удалить черные маркеры*/
}
.social li a {
    font-size: 2em;/*размер иконок*/
    color: black;/*цвет иконок*/
    margin: 0 10px;
    display: inline-block;/*отображать как строчно-блочный элемент*/
    transition: 0.5s;/*плавный переход*/
}
.foo li a {
    font-size: 1.2em;/*размер ссылок меню*/
    color: black;/*цвет ссылок меню*/
    margin: 0 15px;
    text-decoration: none;/*ссылка без подчеркивания*/
    display: inline-block;
}
.foo li a:hover {
    opacity: 1;
}
footer p {
    color: black;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}